.header {
    background-color:#6B008F;
    color:white;
    text-align:center;
    padding:5px;
}
#header h1{
	color:white;
}
h1{
	color:#6B008F;
}
#footer {
   background-color:#6B008F;
    color:white;
    text-align:center;
    padding:5px;
}
.centerSection {
    
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 500px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
.loginFormContainer{
	width:400px;
	margin-top: 8%;
}
.customSidebar{
	margin-top: 25%;
}
